@model IEnumerable<BusinessLogicLayer.Viewmodels.Order.OrderVM>
@using static DataAccessLayer.Entity.Base.EnumBase.OrderStatus

<table class="table">
    <thead>
        <tr>
            <th>Ngày tạo</th>
            <th>Mã hóa đơn</th>
            <th>SDT</th>
            <th>email</th>
            <th>Người nhận</th>
            <th>Địa chỉ</th>
            <th>Ngày giao</th>
            <th>Tổng tiền</th>
            <th>Ghi chú</th>
            <th>Trạng thái đơn hàng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                <td>@Html.DisplayFor(modelItem => item.HexCode)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerPhone)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerEmail)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.ShipDate)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                <td>
                        @if (item.OrderStatus == Pending)
                        {
                            <text>Chưa giải quyết</text>
                        }
                        else if (item.OrderStatus == Processing)
                        {
                            <text>Đang xử lý</text>
                        }
                        else if (item.OrderStatus == Shipped)
                        {
                            <text>Đã vận chuyển</text>
                        }
                        else if (item.OrderStatus == Delivered)
                        {
                            <text>Đã giao hàng</text>
                        }
                        else if (item.OrderStatus == Cancelled)
                        {
                            <text>Đã hủy</text>
                        }
                        else if (item.OrderStatus == Returned)
                        {
                            <text>Trả lại</text>
                        }
                        else
                        {
                            <text>Không xác định</text>
                        }
                </td>
                    
                <td>
                    <a href="@Url.Action("OrderDetail", "Order", new { id = item.ID })">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
