@using BusinessLogicLayer.Viewmodels.OrderM
@model OrderMVM

<div>
    <div style="padding: 10px;">
        <div class="main-top">
            <div class="input-search">
                <button id="myBtn">Tìm kiếm Sản phẩm</button>
            </div>
        </div>
        <div class="d-flex" style="width: 100%; gap: 10px;">
            <div style="width: 80%;">
                <h1>Danh sách sp đã chọn</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th> Ảnh</th>
                            <th scope="col">Tên Sản Phẩm</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Đơn Giá</th>
                            <th scope="col">Tổng Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SelectedProducts)
                        {
                            <tr>
                                <td><img src="@item.urlImg" alt="Alternate Text" /></td>
                                <td>
                                    <button style="border: none; background:none;">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                                <td>@item.Name</td>
                                <td>
                                    <form asp-action="UpdateProductQuantity" method="post" id="quantity-form-@item.Id">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="number" min="1" name="quantity" id="quantity-@item.Id" value="@item.Quantity" onchange="document.getElementById('quantity-form-@item.Id').submit();" />
                                    </form>
                                </td>
                                <td>@item.CostPrie</td>
                                <td id="total-@item.Id">@((item.CostPrie * item.Quantity))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <form asp-action="CreateOrder" asp-controller="Order">
                <div>
                    <table class="table">
                        <tbody>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateVM.CustomerName" class="control-label"></label>
                                <input asp-for="@Model.CreateVM.CustomerName" class="form-control" />
                                <span asp-validation-for="@Model.CreateVM.CustomerName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateVM.CustomerPhone" class="control-label"></label>
                                <input asp-for="@Model.CreateVM.CustomerPhone" class="form-control" />
                                <span asp-validation-for="@Model.CreateVM.CustomerPhone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateVM.CustomerEmail" class="control-label"></label>
                                <input asp-for="@Model.CreateVM.CustomerEmail" class="form-control" />
                                <span asp-validation-for="@Model.CreateVM.CustomerEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateVM.ShippingAddress" class="control-label"></label>
                                <input asp-for="@Model.CreateVM.ShippingAddress" class="form-control" />
                                <span asp-validation-for="@Model.CreateVM.ShippingAddress" class="text-danger"></span>
                            </div>
                           
                            
                            <div class="form-group">
                                <label asp-for="@Model.CreateVM.VoucherCode" class="control-label"></label>
                                <input asp-for="@Model.CreateVM.VoucherCode" class="form-control" />
                                <span asp-validation-for="@Model.CreateVM.VoucherCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateVM.Notes" class="control-label"></label>
                                <input asp-for="@Model.CreateVM.Notes" class="form-control" />
                                <span asp-validation-for="@Model.CreateVM.Notes" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateVM.PaymentMethods" class="control-label"></label>
                                <input asp-for="@Model.CreateVM.PaymentMethods" class="form-control" />
                                <span asp-validation-for="@Model.CreateVM.PaymentMethods" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateVM.TotalAmount" class="control-label"></label>
                                <input asp-for="@Model.CreateVM.TotalAmount" class="form-control" />
                                <span asp-validation-for="@Model.CreateVM.TotalAmount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </tbody>
                    </table>
                    <button class="primary">Thanh Toán</button>
                </div>
            </form>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div>
                <h4 style="font-size: 16px;">Tìm kiếm sản phẩm</h4>
                <span class="close">&times;</span>
            </div>
            <input width="50%" type="text" name="" id="" placeholder="Nhập tên hoặc mã sản phẩm">
            <div style="display: flex; justify-content: space-between">
                <label>
                    Màu sắc:
                    <select name="" id="">
                        <option value="">Tất cả</option>
                    </select>
                </label>
                <label>
                    Kích cỡ:
                    <select name="" id="">
                        <option value="">Tất cả</option>
                    </select>
                </label>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Mã</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Màu sắc</th>
                        <th scope="col">Kích cỡ</th>
                        <th scope="col">Giá</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstproduct)
                    {
                        <tr>
                            <td><img src="@item.urlImg" width="50px" height="50px" /></td>
                            <td>@item.MaSp</td>
                            <td>@item.Name</td>
                            <td>@item.Corlor</td>
                            <td>@item.Size</td>
                            <td>@item.CostPrie</td>
                            <td><a href="@Url.Action("AddToSelectedProducts", new { id = item.Id })"><i class="bi bi-plus-circle"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    function updateTotal(productId, costPrice) {
        var quantityElement = document.getElementById('quantity-' + productId);
        var totalElement = document.getElementById('total-' + productId);
        var quantity = parseInt(quantityElement.value);
        var total = quantity * parseFloat(costPrice);
        totalElement.innerText = total.toFixed(2); // Định dạng hiển thị số thập phân
        updateGrandTotal(); // Gọi hàm cập nhật tổng tiền chung
    }
    function updateGrandTotal() {
        var grandTotal = 0;
    @if (Model.SelectedProducts != null)
    {
        foreach (var item in Model.SelectedProducts)
        {
            <text>
                                var totalElement = document.getElementById('total-@item.Id');
                grandTotal += parseFloat(totalElement.innerText);
            </text>
        }
    }
            document.getElementById('grandTotal').innerText = grandTotal.toFixed(2);
    }
</script>
<link rel="stylesheet" href="~/css/order.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
    function updateTotal(productId, costPrice) {
        var quantityElement = document.getElementById('quantity-' + productId);
        var totalElement = document.getElementById('total-' + productId);
        var quantity = parseInt(quantityElement.value);
        var total = quantity * parseFloat(costPrice);
        totalElement.innerText = total.toFixed(2); // Định dạng hiển thị số thập phân
        updateGrandTotal(); // Gọi hàm cập nhật tổng tiền chung
    }

    function updateGrandTotal() {
        var grandTotal = 0;
    @if (Model.SelectedProducts != null)
    {
        foreach (var item in Model.SelectedProducts)
        {
            <text>
                            var totalElement = document.getElementById('total-@item.Id');
                grandTotal += parseFloat(totalElement.innerText);
            </text>
        }
    }
            document.getElementById('grandTotal').innerText = grandTotal.toFixed(2);
    }
</script>